<h1>Burgers!</h1>

<h2>Yummy Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless yum}}
      {{> burgers/burgers-block yum=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that need to be eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if nummy}}
      {{> burgers/burgers-block nummy=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Pick Your Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Toppings:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="hungry">Hungry?</label><br>
    <input type="radio" name="hungry" value="1" checked> yum!<br>
    <input type="radio" name="hungry" value="0"> nummy
  </div>

  <button type="submit">Add Burger</button>
</form>
